html, body, div {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.nav-iconmenu {
  display: none;
  float:left;
}

nav {
  background-color: white !important;
}

@media (max-width: 600px) {
  nav .navbar     { display: none; background-color: white;}
  nav .nav-iconmenu { display: inline-block; }
}

.navbar {
  position: fixed;
  top: 0;
  left:0;
  list-style-type:none;
  width:100%;
  margin:0;
  padding:0;
  overflow: hidden;
  color: black;
  background-color: white;
  /*opacity:0.4;*/
  -webkit-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
-moz-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
box-shadow: 3px 2px 9px 1px rgba(225, 225, 226, 1);
}

.navbar-li {
float:left;
width:15%;
text-align:center;
background-color:white;
 text-transform: uppercase;
 font-family: 'Clear Sans', sans-serif;
 font-weight: 300;
 text-decoration: none;
 font-size: 1.2rem;
 /*line-height: 1.4em;*/
 color: black;
 text-decoration: none;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-a {
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    font-size:16px;
    text-transform: uppercase;
    color: black;
    transition: color 0.4s;
}



.navbar-li > a:hover {
    color:#064CC2;
    cursor:pointer;
}


.navbar-a:active {
    background-color:#064CC2;
    color: white;
}

.mast, .mast-bg {
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(-360deg, #020085, #0b6ca3);
}

.mast {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 6em;
    padding-bottom: 6em;
    height: 50vh;
    color: rgba(0,0,0,.8);
    min-height: 300px;
}

.mast-bg {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

section {
    position: relative;
}

figure {
    max-width: 100%;
    height: auto;
    margin:0;
}

.grid {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.mast [class*=grid] {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.mast-content {
    z-index: 77;
    max-width: 250px;
    margin-left: 0;
}

.mast, .mast-content {
    position: relative;
    z-index: 4;
    margin: 0 auto;
    padding-top: 3em;
}

@media (min-width: 32em)
.mast-content {
    max-width: none;
}

.mast-subtitle, .mast-title, h5 {
    margin-bottom: .4em;
    font-size: 1.15em;
    line-height: 1.4em;
}

.mast-subtitle {
    color: white;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    font-size: 2.8em;
  }


.mast-title, h5 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  color: #d45c54;
  animation-delay: 1s;
  margin-bottom: .4em;
  font-size: 1.15em;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 1.1em;
}

.mast-subtitle-icons {
  color: white;
  letter-spacing: .1em;
}


 .mast-graphic {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230%,-40%);
    margin: 0 auto;
    /*margin-right:15px;*/
    display: block;
    padding-top: 3em;
    left: 70%;
    background-color: rgb(0, 188, 212);
    height:200px;
    /*border-radius: 50%;*/
    opacity:0.4;
    -webkit-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
  -moz-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
  box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
}

.mast-graphic-img {
    width: 150px;
    margin-right:5em;
    position: relative;
    max-width: 25em;
    opacity: .75;
    /*margin-left: 5em;*/
}


.header-name {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  padding-right:60px;
  width:600px;
  margin-bottom: 0px;
  margin-top:20px;
  padding-bottom: 0px;
}

.header-para {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  padding-left:60px;
  text-align: left;
  margin-top: 10px;
}

.header-greet {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  padding-left:60px;
  text-align: left;
  margin-top: 20px;
  margin-left:170px;
  padding:0px;
}


.facts-heading {
  font-family: 'Open Sans', serif;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: #020085;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.facts-row {
  margin-bottom: 0 !important;
}

.facts-para {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 1.1rem;
  line-height: 1.7;
  color: black;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:60px;
  margin-top:20px;
  width:100%;
}

.facts-para > p {
  margin-top:12px;
  margin-bottom:12px;
}

.para-a {
  text-decoration: none;
  color: black;
}
.para-a:hover {
  color: #064CC2;
  font-weight: 400;
  cursor:pointer;
}

.fa-icon {
  color: white;
  margin: 12px;
}

.fa-icon:hover {
  opacity: 0.4;
  cursor:pointer;
}

.footer {
  width: 100%;
  height: 120px;
  padding:30px;
  text-align: center;
  /*background-color: #064CC2;*/
  background-color: white;
  border: none;
  margin-top:60px;
  /*margin-bottom: 0px !important;*/
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  color: black;
  -webkit-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
-moz-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
box-shadow: 3px 2px 9px 1px rgba(209, 225, 247, 1);
}

.footer-elem {
  flex-flow: row wrap;
  justify-content: space-around;
  display: block;
  padding: 5px 10px 5px 10px;
  border:none;
  width:25%;
  font-weight:300;
  color: black;
  font-size:0.8rem;
}

.footer-a {
  text-decoration: none;
  color: black;
}

.footer-a:hover {
  opacity:0.4;
  cursor: pointer;
}

.fa-icon-footer {
  color: black;
}

.fa-icon-footer:hover {
  opacity:0.4;
}


/*Style for about page*/

.mast-title-about {
  font-family: 'Open Sans', sans-serif;
  color: #d45c54;
  animation-delay: 1s;
  /*margin-bottom: .4em;*/
  font-size: 1.15em;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 2.6em;
}


.about-h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top:36px;
  padding-top:24px;
  padding-left: 40px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: white;
  font-weight: bold;
  font-size:2rem;
}


.about-row-1{
  display: flex;
}

.about-para {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 1.2rem;
  color: black;
  text-align: left;
  -webkit-box-shadow: 3px 2px 9px 1px rgba(251, 251, 254, 1);
-moz-box-shadow: 3px 2px 9px 1px rgba(251, 251, 254, 1);
box-shadow: 3px 2px 9px 1px rgba(251, 251, 254, 1);
}

.about-para-h3 {
  font-family: 'Open Sans', serif;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: #020085;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: .08em;
  text-transform: uppercase;
}

/*.education-row {
  padding-top:40px;
}*/

.coding-rectangle {
  background-color: rgb(0, 188, 212);
  height:250px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:20px;
  -webkit-box-shadow: 3px 2px 9px 1px rgba(251, 251, 254, 1);
-moz-box-shadow: 3px 2px 9px 1px rgba(251, 251, 254, 1);
box-shadow: 3px 2px 9px 1px rgba(221, 221, 235, 1);
}

.education-h2 {
  font-family: 'Playfair Display', serif;
  font-weight:bold;
  text-align: center;
  /*padding-left:40px;*/
    padding-top:80px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: white;
  font-size: 2.1rem;
}

.education-h3 {
  font-family: 'Open Sans', serif;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: #070665;
  font-weight: 400;
  font-size: 1.6rem;
  padding-left: 45px;
}

.education-para {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 1.2rem;
  color: black;
  text-align: left;
  padding-left: 50px;
}

/*Style for projects page*/
.projects-header {
  background-image: linear-gradient(-360deg, #020085, #0b6ca3);
  width:100%;
  height: 150px;
}

.projects-h1 {
  font-family: 'Playfair Display', serif;
  font-weight:400;
  font-size: 2rem;
  color:white;
  text-align: left;
  margin-left: 40px;
  margin-right: auto;
  padding:10px;
  width:100%;
}

/*Style for skills page*/
.skills-content {
  margin-left:20px;
  margin-right:20px;
}


.skills-header {
  background-image: linear-gradient(-360deg, #393794, #3089bb);
  width:100%;
  height: 170px;
  padding:15px;
  margin-left:0 !important;
  margin-right:0 !important;
  position: relative;
  margin: 0 auto;
  /*padding-top: 6em;
  padding-bottom: 6em;*/
  min-height: 170px;
}

.skills-circle {
  background-color: rgb(0, 188, 212);
  opacity:0.8;
  width:100px;
  min-width:50px;
  height:100px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-0%,-50%);
  /*border-radius: 50px;*/
  -webkit-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
-moz-box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
box-shadow: 3px 2px 9px 1px rgba(5,11,54,1);
}


@media (max-width: 32em) {
.skills-header {
display: none;
}
}

.skills-h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top:36px;
  padding-top:24px;
  padding-left: 40px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: white;
  font-weight: 400;
  font-size:2rem;
}

.skills-h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  color: black;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: .4em;
  line-height: 1.4em;
  letter-spacing: .05em;
}

.skills-h5 {
  margin-bottom: .4em;
  line-height: 1.4em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  color: #d45c54;
  animation-delay: 1s;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 1.5em;
}

.skills-content-row {
  margin-bottom:20px;
  margin-top: 30px;
}

.github-btn-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: .4em;
  margin-top: 25px;
  border: 1px black solid;
}

.github-btn {
  margin-top:23px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: solid 1px white;
  text-transform: uppercase;
  font-weight:400;
  color: white;
  background-color:#d45c54;
  display: block;
  font-size: 1rem;
  letter-spacing: .07em;
}
